@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';

:root {
  --primary: #009688;
  --white: #ffffff;
  --black: #000000;
  --green-500: #8bc34a;
  --orange-500: #ff9800;
  --red-500: #f44336;
  --grey-300: #e0e0e0;
  --grey-500: #9e9e9e;
  --grey-900: #212121;
  --shadow-25: rgb(0 0 0 / 25%);
  --shadow-45: rgb(0 0 0 / 45%);
}

body {
  height: 100%;
  background: #D39FFF;
  font-family: sans-serif;
}

.text-gradient {
  /* background: linear-gradient(342deg, #30CFD0 0%, #330867 100%); */
  background: linear-gradient(89.79deg, #6953D3 1.85%, #8566F1 20.59%, #A14EEE 39.33%, #F98085 58.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

#logo {
  animation: fill 5s ease forwards 2.1s;
}
#logo-vikreta {
  margin-top: 2px;
  animation: fill 5s ease forwards 2.1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: rgba(0, 115, 255, 0.835);
  }
}

#logo path:nth-child(1){
  stroke-dasharray: 389;
  stroke-dashoffset: 388;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 518;
  stroke-dashoffset: 518;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 433;
  stroke-dashoffset: 433;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 619;
  stroke-dashoffset: 619;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: line-anim 2s ease forwards 1.8s;
}

#logo-vikreta path:nth-child(1){
  stroke-dasharray: 621;
  stroke-dashoffset: 621;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-vikreta path:nth-child(2){
  stroke-dasharray: 514;
  stroke-dashoffset: 514;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-vikreta path:nth-child(3){
  stroke-dasharray: 703;
  stroke-dashoffset: 703;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-vikreta path:nth-child(4){
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-vikreta path:nth-child(5){
  stroke-dasharray: 704;
  stroke-dashoffset: 704;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-vikreta path:nth-child(6){
  stroke-dasharray: 355;
  stroke-dashoffset: 355;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo-vikreta path:nth-child(7){
  stroke-dasharray: 620;
  stroke-dashoffset: 620;
  animation: line-anim 2s ease forwards 0.8s;
}



.default {
  position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: test 5s ease forwards;;
}

@keyframes test {
  from {
    height: 50vh;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  to {
    height: 6vh;
    width: 130px;

    top: 10px;
    left: 10px;
    transform: translate(50px, 30px);
  }
}