@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';

:root {
  --primary: #009688;
  --white: #ffffff;
  --black: #000000;
  --green-500: #8bc34a;
  --orange-500: #ff9800;
  --red-500: #f44336;
  --grey-300: #e0e0e0;
  --grey-500: #9e9e9e;
  --grey-900: #212121;
  --shadow-25: rgb(0 0 0 / 25%);
  --shadow-45: rgb(0 0 0 / 45%);
}

body {
  height: 100%;
  background: #D39FFF;
  font-family: sans-serif;
}

.text-gradient {
  /* background: linear-gradient(342deg, #30CFD0 0%, #330867 100%); */
  background: linear-gradient(89.79deg, #6953D3 1.85%, #8566F1 20.59%, #A14EEE 39.33%, #F98085 58.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}